
footer{
    background-color: #000;
}

body{
    background-color: antiquewhite;
    
}


a{
    background-color: #000;

    text-decoration: none;
    color: white;;

}
a:hover{
    background-color: white;
    transition: 0.5s ;
}
a:hover i{
    color: black;
    transition: 0.5s;
    padding: 75px;
    margin: 10px;
    border-radius: 50%;
}
.Return{
    display: flex;
    justify-content: center;
    font-size: large;
    
}
